/*  style sheet file  */
/*  $Id: style.css,v 1.3 2006/05/09 04:16:52 jokagi Exp $  */
A:link, A:visited, A:Active, A:hover { text-decoration: none }

BODY	{ background-color:#fff8dc ; }

H1	{ font-size:22pt;
	  text-indent:2mm;
	  background-color: #99ccff;
	  border-style:none none solid solid ;
	  border-width:1pt 1pt 2pt 6pt; }
H2	{ font-size:20pt;
	  text-indent:4mm;
	  background-color: #99ccff;
	  border-style:none none solid solid ;
	  border-width:1pt 1pt 2pt 5pt; }
H3	{ font-size:18pt;
	  text-indent:6mm;
	  background-color: #bbddff;
	  border-style:none none solid solid ;
	  border-width:1pt 1pt 2pt 4pt; }
H4	{ font-size:16pt;
	  text-indent:8mm;
	  background-color: #bbddff;
	  border-style:none none solid solid ;
	  border-width:1pt 1pt 2pt 3pt; }
H5	{ font-size:14pt;
	  text-indent:10mm;
	  background-color:aqua;
	  border-style:none none solid solid ;
	  border-width:1pt 1pt 2pt 2pt; }
H6	{ font-size:12pt;
	  text-indent:12mm;
	  background-color:yellow;
	  border-style:none none solid solid ;
	  border-width:1pt 1pt 2pt 1pt; }

TABLE	{ font-size: 10pt }
TH.menu { text-align: left }
TH.index { background-color: #BBDDFF }

TD.menu	{ text-indent: 5pt ;
          font-size: 9pt }
TD.index { background-color: #EEEEE0 }
TD.data { background-color:#ffebcd }

STRONG	{ color:blue;
	  font-weight:bold; }

P	{ text-indent:14pt; }

HR	{ height : 2pt;
	  color : #00bfff }

A:link	{ color:blue; }
A:visited	{ color:purple; }

DIV.left	{ text-align:left ;}
DIV.center	{ text-align:center ;}
DIV.right	{ text-align:right ;}
DIV.footer	{ font-size: 8pt ;
		font-style:italic ;
		color:blue ;
		text-align: right }
DIV.lititle	{ font-weight:bold ; }

TR.logo	{ background-color:#ffffff ; }