A:link {
	TEXT-DECORATION: none
}
A:visited {
	TEXT-DECORATION: none
}
A:active {
	TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: none
}
BODY {
	BACKGROUND-COLOR: #fff8dc
}
H1 {
	BORDER-RIGHT: 1pt; BORDER-TOP: 1pt; FONT-SIZE: 22pt; BORDER-LEFT: 6pt solid; TEXT-INDENT: 2mm; BORDER-BOTTOM: 2pt solid; BACKGROUND-COLOR: aqua
}
H2 {
	BORDER-RIGHT: 1pt; BORDER-TOP: 1pt; FONT-SIZE: 20pt; BORDER-LEFT: 5pt solid; TEXT-INDENT: 4mm; BORDER-BOTTOM: 2pt solid; BACKGROUND-COLOR: aqua
}
H3 {
	BORDER-RIGHT: 1pt; BORDER-TOP: 1pt; FONT-SIZE: 18pt; BORDER-LEFT: 4pt solid; TEXT-INDENT: 6mm; BORDER-BOTTOM: 2pt solid; BACKGROUND-COLOR: aqua
}
H4 {
	BORDER-RIGHT: 1pt; BORDER-TOP: 1pt; FONT-SIZE: 16pt; BORDER-LEFT: 3pt solid; TEXT-INDENT: 8mm; BORDER-BOTTOM: 2pt solid; BACKGROUND-COLOR: aqua
}
H5 {
	BORDER-RIGHT: 1pt; BORDER-TOP: 1pt; FONT-SIZE: 14pt; BORDER-LEFT: 2pt solid; TEXT-INDENT: 10mm; BORDER-BOTTOM: 2pt solid; BACKGROUND-COLOR: aqua
}
H6 {
	BORDER-RIGHT: 1pt; BORDER-TOP: 1pt; FONT-SIZE: 12pt; BORDER-LEFT: 1pt solid; TEXT-INDENT: 12mm; BORDER-BOTTOM: 2pt solid; BACKGROUND-COLOR: yellow
}
TABLE {
	FONT-SIZE: 10pt
}
TH.menu {
	TEXT-ALIGN: left
}
TH.index {
	BACKGROUND-COLOR: #bbddff
}
TD.menu {
	FONT-SIZE: 9pt; TEXT-INDENT: 5pt
}
TD.index {
	BACKGROUND-COLOR: #eeeee0
}
TD.data {
	BACKGROUND-COLOR: #ffebcd
}
STRONG {
	FONT-WEIGHT: bold; COLOR: blue
}
P {
	TEXT-INDENT: 14pt
}
HR {
	COLOR: #00bfff; HEIGHT: 2pt
}
A:link {
	COLOR: blue
}
A:visited {
	COLOR: purple
}
DIV.left {
	TEXT-ALIGN: left
}
DIV.center {
	TEXT-ALIGN: center
}
DIV.right {
	TEXT-ALIGN: right
}
DIV.footer {
	FONT-SIZE: 8pt; COLOR: blue; FONT-STYLE: italic; TEXT-ALIGN: right
}
DIV.lititle {
	FONT-WEIGHT: bold
}
TR.logo {
	BACKGROUND-COLOR: #ffffff
}
.f12pt {  font-size: 12pt; line-height: 140%}
.f10pt {  font-size: 10pt; line-height: 140%}
